
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<div class="jumbotron">
    <h2>G3 Food Ordering and Delivering System</h2>
    <img class="img_logo" src="@Url.Content("~/Content/Images/Logo-Universiti-Tun-Hussein-Onn-Malaysia-UTHM-new.png")"  alt="UTHM Logo"/>
</div>
<div class="row">
    <div class="col-md-4"></div>
       <p></p>
</div>
@section footer{
<p class="lead">
    Location: Block G3, University Tun Hussein Onn Malaysia
</p>
    <p>
    Operational hour:8.00a.m-5.00p.m
    </p>
    
    }


