@using FinalG3FoodOrderingSystem.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <title>Success</title>
</head>
<body>
    <br>
    <h3 align="center">
        Thank you for using G3 Food Ordering Website !<br><br>
        We Hope to See You Again </h3align="center"><br><br><br>

        <h3 align="center">   @Html.ActionLink("Back to List", "DisplayFoods", "Foods")      </h3>


        </div>
        </div>
</body>
</html>
